USE [CTRMA_PowerBIReports]
GO
/****** Object:  Table [dbo].[DataGenieTicketLog]    Script Date: 15-04-2025 21:01:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataGenieTicketLog](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[TicketNumber] [varchar](20) NOT NULL,
	[AuditId] [int] NOT NULL,
	[ExecutionId] [int] NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](100) NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedUser] [nvarchar](100) NULL,
	[Status] [varchar](50) NOT NULL,
	[ResolutionDate] [datetime] NULL,
	[ResolvedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TicketNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TicketStatusDetail]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TicketStatusDetail] AS
SELECT 
    TicketId,
    TicketNumber,
    Status,
    ResolvedBy,
    ResolutionDate
FROM dbo.DataGenieTicketLog;
GO
/****** Object:  Table [dbo].[DataGenieAudit]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataGenieAudit](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[Prompt] [nvarchar](1000) NULL,
	[GeneratedSQL] [nvarchar](max) NULL,
	[Summary] [nvarchar](1000) NULL,
	[Recommendations] [nvarchar](1000) NULL,
	[GenerationTime] [decimal](10, 4) NULL,
	[QueryComplexity] [nvarchar](max) NULL,
	[IsSQLGenerationSuccess] [bit] NULL,
	[IsIntentGenerated] [bit] NULL,
	[IntentGeneratedData] [nvarchar](1000) NULL,
	[IsReusedPrompt] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedUser] [nvarchar](100) NULL,
	[UpdatedUser] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataGenieExecutionLog]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataGenieExecutionLog](
	[ExecutionId] [int] IDENTITY(1,1) NOT NULL,
	[AuditId] [int] NOT NULL,
	[ExecutionTime] [decimal](10, 4) NULL,
	[TotalRecords] [int] NULL,
	[Message] [nvarchar](500) NULL,
	[ExecutionResults] [nvarchar](max) NULL,
	[IsExecutionSuccess] [bit] NULL,
	[ErrorMessage] [nvarchar](500) NULL,
	[ExecutionDate] [datetime] NULL,
	[ExecutedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExecutionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataGenieAudit] ADD  DEFAULT ((0)) FOR [IsSQLGenerationSuccess]
GO
ALTER TABLE [dbo].[DataGenieAudit] ADD  DEFAULT ((0)) FOR [IsIntentGenerated]
GO
ALTER TABLE [dbo].[DataGenieAudit] ADD  DEFAULT ((0)) FOR [IsReusedPrompt]
GO
ALTER TABLE [dbo].[DataGenieAudit] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DataGenieAudit] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[DataGenieExecutionLog] ADD  DEFAULT ((0)) FOR [IsExecutionSuccess]
GO
ALTER TABLE [dbo].[DataGenieExecutionLog] ADD  DEFAULT (getdate()) FOR [ExecutionDate]
GO
ALTER TABLE [dbo].[DataGenieTicketLog] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DataGenieTicketLog] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[DataGenieTicketLog] ADD  DEFAULT ('InProgress') FOR [Status]
GO
ALTER TABLE [dbo].[DataGenieExecutionLog]  WITH CHECK ADD FOREIGN KEY([AuditId])
REFERENCES [dbo].[DataGenieAudit] ([AuditId])
GO
ALTER TABLE [dbo].[DataGenieTicketLog]  WITH CHECK ADD FOREIGN KEY([AuditId])
REFERENCES [dbo].[DataGenieAudit] ([AuditId])
GO
ALTER TABLE [dbo].[DataGenieTicketLog]  WITH CHECK ADD FOREIGN KEY([ExecutionId])
REFERENCES [dbo].[DataGenieExecutionLog] ([ExecutionId])
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_CachedAuditByPrompt]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Get_CachedAuditByPrompt]
    @Prompt NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1 
        AuditId, 
		IsReusedPrompt,
        GeneratedSQL, 
        Summary, 
        Recommendations, 
        QueryComplexity, 
        IntentGeneratedData
    FROM dbo.DataGenieAudit
    WHERE 
        LOWER(LTRIM(RTRIM(Prompt))) = LOWER(LTRIM(RTRIM(@Prompt)))
        AND IsSQLGenerationSuccess = 1
        AND IsIntentGenerated = 1
    ORDER BY CreatedDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Get_DataGenie_Metrics]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Stored Procedure: sp_Get_DataGenie_Metrics
-- Purpose: Provide dashboard-ready metrics from DataGenieAudit and DataGenieExecutionLog

CREATE PROCEDURE [dbo].[sp_Get_DataGenie_Metrics]
AS
BEGIN
    SET NOCOUNT ON;

    -- Total number of unique prompts
    SELECT
        COUNT(*) AS TotalPrompts,
        SUM(CASE WHEN IsSQLGenerationSuccess = 1 THEN 1 ELSE 0 END) AS SuccessfulSQLGenerations,
        SUM(CASE WHEN IsIntentGenerated = 1 THEN 1 ELSE 0 END) AS SuccessfulIntents
    FROM [dbo].[DataGenieAudit];

    -- Total number of executions and their outcomes
    SELECT
        COUNT(*) AS TotalExecutions,
        SUM(CASE WHEN IsExecutionSuccess = 1 THEN 1 ELSE 0 END) AS SuccessfulExecutions,
        SUM(CASE WHEN IsExecutionSuccess = 0 THEN 1 ELSE 0 END) AS FailedExecutions
    FROM [dbo].[DataGenieExecutionLog];

    -- Average execution time (overall and by success/failure)
    SELECT
        AVG(CAST(ExecutionTime AS FLOAT)) AS AvgExecutionTime,
        AVG(CAST(CASE WHEN IsExecutionSuccess = 1 THEN ExecutionTime ELSE NULL END AS FLOAT)) AS AvgExecutionTime_Success,
        AVG(CAST(CASE WHEN IsExecutionSuccess = 0 THEN ExecutionTime ELSE NULL END AS FLOAT)) AS AvgExecutionTime_Failure
    FROM [dbo].[DataGenieExecutionLog];

    -- Top 5 most used prompts (by execution count)
    --SELECT TOP 5
	SELECT
        A.Prompt,
		Avg(A.GenerationTime) AS SqlGenerationTime,
        Avg(E.ExecutionTime) AS ExecutionTime,
		COUNT(E.TotalRecords) AS TotalRecords
    FROM [dbo].[DataGenieAudit] A
    JOIN [dbo].[DataGenieExecutionLog] E ON A.AuditId = E.AuditId
    GROUP BY A.Prompt
    ORDER BY ExecutionTime DESC;

    -- Daily trend (optional)
    SELECT
        CAST(E.ExecutionDate AS DATE) AS ExecutionDate,
        COUNT(*) AS ExecutionsPerDay,
        SUM(CASE WHEN E.IsExecutionSuccess = 1 THEN 1 ELSE 0 END) AS Successes,
        SUM(CASE WHEN E.IsExecutionSuccess = 0 THEN 1 ELSE 0 END) AS Failures
    FROM [dbo].[DataGenieExecutionLog] E
    GROUP BY CAST(E.ExecutionDate AS DATE)
    ORDER BY ExecutionDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_DataGenieAudit]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Insert_DataGenieAudit]
    @Prompt NVARCHAR(1000),
    @GeneratedSQL NVARCHAR(MAX),
    @Summary NVARCHAR(1000),
    @Recommendations NVARCHAR(1000),
    @GenerationTime DECIMAL(10,4),
    @QueryComplexity NVARCHAR(MAX),
    @IsSQLGenerationSuccess BIT,
    @IsIntentGenerated BIT,
    @IntentGeneratedData NVARCHAR(1000),
    @IsReusedPrompt BIT = NULL,  -- ✅ Add this input parameter
    @CreatedUser NVARCHAR(100),
    @UpdatedUser NVARCHAR(100),
    @AuditId INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ExistingAuditId INT;

    -- ✅ Fallback check only if IsReusedPrompt is not provided
    IF @IsReusedPrompt IS NULL
    BEGIN
        SELECT TOP 1 @ExistingAuditId = AuditId
        FROM [dbo].[DataGenieAudit]
        WHERE Prompt = @Prompt AND GeneratedSQL = @GeneratedSQL
        ORDER BY CreatedDate DESC;

        SET @IsReusedPrompt = CASE WHEN @ExistingAuditId IS NOT NULL THEN 1 ELSE 0 END;
    END

    INSERT INTO [dbo].[DataGenieAudit] (
        Prompt, GeneratedSQL, Summary, Recommendations,
        GenerationTime, QueryComplexity,
        IsSQLGenerationSuccess, IsIntentGenerated, IntentGeneratedData,
        IsReusedPrompt,
        CreatedUser, UpdatedUser 
    )
    VALUES (
        @Prompt, @GeneratedSQL, @Summary, @Recommendations,
        @GenerationTime, @QueryComplexity,
        @IsSQLGenerationSuccess, @IsIntentGenerated, @IntentGeneratedData,
        @IsReusedPrompt,  -- ✅ Use the correct value from input or fallback
        @CreatedUser, @UpdatedUser
    );

    SET @AuditId = SCOPE_IDENTITY();

    SELECT @AuditId AS AuditId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Insert_DataGenieExecutionLog]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Step 4: Stored Procedure to Log Execution Results
CREATE PROCEDURE [dbo].[sp_Insert_DataGenieExecutionLog]
    @AuditId INT,
    @ExecutionTime DECIMAL(10,4),
    @TotalRecords INT,
    @Message NVARCHAR(500),
    @ExecutionResults NVARCHAR(MAX),
    @IsExecutionSuccess BIT,
    @ErrorMessage NVARCHAR(500),
    @ExecutedBy NVARCHAR(100)
AS
BEGIN
    INSERT INTO [dbo].[DataGenieExecutionLog] (
        AuditId, ExecutionTime, TotalRecords, Message, ExecutionResults,
        IsExecutionSuccess, ErrorMessage, ExecutedBy
    )
    VALUES (
        @AuditId, @ExecutionTime, @TotalRecords, @Message, @ExecutionResults,
        @IsExecutionSuccess, @ErrorMessage, @ExecutedBy
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LogDataGenieTicket]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_LogDataGenieTicket]
    @AuditId INT,
    @ExecutionId INT,
    @ErrorMessage NVARCHAR(1000),
    @StackTrace NVARCHAR(MAX),
    @CreatedUser NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Validate that the provided AuditId exists to prevent Foreign Key violation
    IF NOT EXISTS (SELECT 1 FROM dbo.DataGenieAudit WHERE AuditId = @AuditId)
    BEGIN
        THROW 50002, 'Invalid AuditId. Cannot create ticket without a valid Audit entry.', 1;
    END

    DECLARE @TicketNumber VARCHAR(20);
    DECLARE @RetryCount INT = 0;
    DECLARE @RandomNumber INT;

    WHILE @RetryCount < 5
    BEGIN
        -- Generate random 5-digit number for the Ticket Number
        SET @RandomNumber = ABS(CHECKSUM(NEWID())) % 90000 + 10000;
        SET @TicketNumber = 'DG-' + CAST(@RandomNumber AS VARCHAR);

        BEGIN TRY
            -- Ensure the TicketNumber is unique before insert (Optional extra safety)
            IF NOT EXISTS (SELECT 1 FROM [dbo].[DataGenieTicketLog] WHERE TicketNumber = @TicketNumber)
            BEGIN
                INSERT INTO [dbo].[DataGenieTicketLog] (
                    TicketNumber,
                    AuditId,
                    ExecutionId,
                    ErrorMessage,
                    StackTrace,
                    CreatedUser,
                    UpdatedUser
                )
                VALUES (
                    @TicketNumber,
                    @AuditId,
                    @ExecutionId,
                    @ErrorMessage,
                    @StackTrace,
                    @CreatedUser,
                    @CreatedUser
                );
                BREAK; -- Exit loop on successful insert
            END
            ELSE
            BEGIN
                SET @RetryCount = @RetryCount + 1;
            END
        END TRY
        BEGIN CATCH
			PRINT ERROR_MESSAGE(); -- Prints the actual error message
			SET @RetryCount = @RetryCount + 1;
		END CATCH
    END

    -- If retry count exceeded 5, throw error
    IF @RetryCount = 5
        THROW 50001, 'Failed to generate a unique Ticket Number after 5 attempts.', 1;

    -- Return the generated Ticket Number
    SELECT @TicketNumber AS TicketNumber;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDataGenieTicketStatus]    Script Date: 15-04-2025 21:01:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateDataGenieTicketStatus]
    @TicketNumber VARCHAR(20),
    @Status VARCHAR(50),
    @ResolvedBy NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM [dbo].[DataGenieTicketLog] WHERE TicketNumber = @TicketNumber)
    BEGIN
        THROW 50003, 'Ticket not found.', 1;
    END

    UPDATE [dbo].[DataGenieTicketLog]
    SET 
        [Status] = @Status,
        [ResolvedBy] = @ResolvedBy,
        [ResolutionDate] = GETDATE(),
        [UpdatedDate] = GETDATE(),
        [UpdatedUser] = @ResolvedBy
    WHERE 
        TicketNumber = @TicketNumber;

    RETURN 1;
END
GO
